EPWIKI_CRAWLER_BASE_URL=https://wiki.skport.com
EPWIKI_CRAWLER_OUTPUT_DIR=output
EPWIKI_CRAWLER_HEADLESS=true
EPWIKI_CRAWLER_PAGE_LOAD_TIMEOUT=30
EPWIKI_CRAWLER_WAIT_TIMEOUT=15
EPWIKI_CRAWLER_MISSING_ENTRY_TIMEOUT=3
EPWIKI_CRAWLER_SAVE_HTML=false
